body{
  margin: 0px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

#input-el{
  width: 100%;
  height: 35px;
  border: 1px solid #5f9341;
  box-sizing: border-box;

  padding: 10px 10px 10px 10px;

  font-weight: bold;
}

#save-btn{
  position: absolute;
  left: 10px;
  top: 50px;

  height: 32px;
  width: 100px;

  padding: 10px 10px 10px 10px;

  background: #5f9341;
  border: none;

  color: white;
  font-weight: bold;
}

#delete-btn{
  position: absolute;
  left: 120px;
  top: 50px;

  height: 32px;
  width: 100px;

  padding: 7px 5px 5px 5px;

  /* background: #5f9341; */
  border: 2px solid #5f9341;

  color: #5f9341;
  font-weight: bold;
}

#list{
  position: absolute;
  left: 10px;
  top: 80px;

  list-style-type: none;
  padding-left: 0;

  margin-bottom: 20px;
}

li{
  position: relative;
  line-height: 1.4;
}

a{
  text-decoration: none;
  color: #5f9341;
}
